body {
    color: #fff;
    background-color: #3B3E43;
    text-align: center;

    font-size: 2rem;
}

/* ***************** *
 * INSTRUCTION TABLE *
 * ***************** */

.instruction-table-header {
    text-align: center;
}

.instruction-table-cell {
    text-align: center;
}

.current-instruction {
    border: 2px solid #aaa
}

/* ***** *
 * STATE *
 * ***** */

/* ******* *
 * BUTTONS *
 * ******* */

.buttons {
    display: block;
    text-align: center;
    margin-top: 1rem;
}

button {
    background-color: #444;
    border: 1px solid #666;
}

.step-button {
    padding: 0.5rem;
    font-size: 2rem;
    color: #ddd;
}