body {
    color: #fff;
    background-color: #3B3E43;
    text-align: center;

    font-size: 2rem;
}

#instructions-state-buttons {
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

#instructions-and-state {
    display: block;
    width: 100%;
}

#instructions-table-container,
#state-table-container {
    display: inline-block;
    width: 45%;
}

/* ***************** *
 * INSTRUCTION TABLE *
 * ***************** */

#instructions-table-container {
    text-align: end;
}

.instruction-table {
    border-collapse: collapse;
    display: inline-block;
}

.instruction-table .current-instruction {
    border: 2px solid #aaa;
    box-sizing: border-box;
}

.instruction-table tr {

}

.instruction-table-header {
    text-align: center;
}

.instruction-table-cell {
    text-align: center;
}

/* ***** *
 * STATE *
 * ***** */

#state-table-container {
    display: inline-block;
    vertical-align: top;
    margin-left: 1rem;
    text-align: center;
}

.state-table {
    display: inline-block;
}

/* ******* *
 * BUTTONS *
 * ******* */

.buttons {
    display: block;
    text-align: center;
    margin-top: 1rem;
}

button {
    background-color: #444;
    border: 1px solid #666;
}

.step-button {
    padding: 0.5rem;
    font-size: 2rem;
    color: #ddd;
}